<mat-toolbar color="primary">
  <span>
    <a routerLink="">Posts</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <ng-container *ngIf="userIsAuthenticated">
        <a mat-button routerLinkActive="mat-accent" routerLink="/create"
          >New Post</a
        >
        <button (click)="onLogout()" mat-button>Logout</button>
      </ng-container>

      <ng-container *ngIf="!userIsAuthenticated">
        <a mat-button routerLinkActive="mat-accent" routerLink="/login"
          >Login</a
        >
        <a mat-button routerLinkActive="mat-accent" routerLink="/register"
          >Sign Up</a
        >
      </ng-container>
    </li>
  </ul>
</mat-toolbar>
