<mat-card>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <form
    *ngIf="!isLoading"
    [formGroup]="postFormGroup"
    (ngSubmit)="onSavePost()"
  >
    <mat-form-field>
      <!-- <mat-label>Title</mat-label> -->
      <input matInput placeholder="Title" type="text" formControlName="title" />
    </mat-form-field>
    <mat-error
      *ngIf="
        (getFormControl('title').dirty &&
          getFormControl('title').hasError('required')) ||
        showError
      "
      >Title is required!</mat-error
    >
    <mat-form-field>
      <!-- <mat-label>Content</mat-label> -->
      <textarea
        matInput
        placeholder="Post Content"
        cols="30"
        rows="6"
        formControlName="content"
      ></textarea>
      <mat-error
        *ngIf="
          (getFormControl('content').dirty &&
            getFormControl('content').hasError('required')) ||
          showError
        "
        >Content can not be empty!</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
